{% extends 'base.html' %}

{% block content %}
<div class="sqlpage" id="welcome">
    <div class="col-lg-8" style="margin:auto;width:100%;margin-top:15%">
        <div class="container" style="margin:auto;width:100%;">
        
            <div id="sql-body" class="panel panel-default">
                <!-- <div id="" style="overflow:scroll; height:400px;"></div> -->
                <div class="panel-heading" style="color: white; background: darkblue">Your python code</div>
                <div id="qry-list-div" class="panel-body" style="max-height: 300px;">
                    <ul id="qry-list" class="list-group">
                        
                    </ul>
                </div>
            </div>
            <br>

            <h3> Enter python command </h3>

            <form id="pythonform" method="post" action="{% url 'sql:pythonc' %}" >
                {% csrf_token%}
                <div id="sql-bottom" class="input-group">
    {#                <input type="text" style="border: solid darkblue" id="sql-qry" name="sql-qry" class="form-control"/>#}
                    <textarea id="pythoncode" name="pycode" class="form-control" >
                    </textarea>
                    <span class="input-group-btn">
                    <input class="btn btn-default" id="send1" type="submit" style="color: darkblue; padding: 16px" value="Send"/>
                </span>
                </div>
            </form>

            <article>
            <header style="text-align: center;">


            </header>

            <section class="experiment" >

                <br>
                <h3>
                    Enter python command: Speech to text
                </h3>
                <!-- ----
                recording buttons
                ---- -->
                <div class="btn_container">
                    <button class="start_recording" id="start-recording" onClick="toggleButton()">
                        <i class="fa fa-microphone" aria-hidden="true"></i>
                    <button class ="stop_recording" id="stop-recording" style="visibility:hidden">
                    
                        <div class="pulse-ring"></div>
                        <i class="fa fa-microphone" aria-hidden="true"></i>
    
                    <button id="pause-recording" disabled>Pause</button>
                    <button id="resume-recording" disabled>Resume</button>
                    </div>
                    <!-- ---------
                    button change krne ka <script>
                    --------- -->
    
                    <!-- <script>
                        let toggle=1
                        function toggleButton() {
                            let playKaBtn = document.getElementById("start-recording")
                            let stopKaBtn = document.getElementById("stop-recording")
                            if(toggle){	
                                stopKaBtn.classList.remove("stop_recording_hidden")
                                stopKaBtn.classList.add("stop_recording")
                                console.log("hello")
                                window.alert("text")
                                toggle=0
                            }else{
                                startKaBtn.classList.remove("start_recording")
                                dumdum.classList.add("start_recording_hidden")
                                toggle=1
                                }
                        }
                    </script> -->
            </section>

            <section class="experiment">
                <div id="audios-container"></div>
            </section>

        </article>

        
            <br><br>
        
        </div>
        </div>
</div>       
        
{% endblock content %}